# Homework Week 1

In [2]:
import numpy as np
import pandas as pd

# Question 1
What's the version of NumPy that you installed?

In [4]:
np.__version__

'1.21.5'

**Answer:** 1.21.5

# Question 2
How many records are in the dataset?

Here you need to specify the number of rows.
* 16
* 6572
* 11914
* 18990

In [11]:
 # !wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [14]:
df.shape

(11914, 16)

**Answer:** 11914

# Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

* Chevrolet, Volkswagen, Toyota
* Chevrolet, Ford, Toyota
* Ford, Volkswagen, Toyota
* Chevrolet, Ford, Volkswagen

In [16]:
df.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

**Answer:** Chevrolet, Ford, Volkwagen

# Question 4
What's the number of unique Audi car models in the dataset?

* 3
* 16
* 26
* 34

df[df['Make'] == 'Audi']['Model'].nunique()

**Answer:** 34

# Question 5
How many columns in the dataset have missing values?

* 5
* 6
* 7
* 8

In [18]:
columns_with_nan = df.columns[df.isna().any()].to_list()  # columns with missing values
len(columns_with_nan)   # number of colmns

5

**Answer:** 5

# Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?
* Yes
* No

In [21]:
df["Engine Cylinders"].median()

6.0

In [22]:
df["Engine Cylinders"].mode()
df["Engine Cylinders"].fillna(float(df["Engine Cylinders"].mode()), inplace=True)
df["Engine Cylinders"].median()

6.0

**Answer:** No

# Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Compute the inverse of XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?
* -0.0723
* 4.5949
* 31.6537
* 63.5643

In [23]:
lotus = df[df["Make"] == 'Lotus']

In [24]:
selected_columns = lotus[["Engine HP", "Engine Cylinders"]]
selected_columns = selected_columns.drop_duplicates()

In [25]:
X = selected_columns.to_numpy()

In [26]:
XT = X.T    # XT is X transpose

In [27]:
XTX = np.dot(XT, X)    # mulptiplying XT with original X

In [28]:
XTXI = np.linalg.inv(XTX)
XTXI

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [29]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [30]:
w = np.dot(np.dot(XTXI, XT), y)

In [31]:
w

array([  4.59494481, -63.56432501])

**Answer:** 4.5949